@media (max-width: 500px) {
  .header {
    margin: 47px 0;

    header{
      display: flex;
      margin: 86px 15px 60px 9PX;

      h1{
        color: $hightest;
        height: 36px;
        width: 181px;
        margin-right: 50px;
      }
      #rechercher {
        border-color: white;
        width: 173px;
        height: 40px;
        border-radius: 8px;
        background: white;
      }

    }

  }
}