@media (max-width: 500px) {
  .main-container{
    display: flex;
    flex-direction: column;
    margin-left: 15px;

    main {

      h2 {
        color: $hightest;
        height: 32px;
        width: 96px;
      }
    }
  }
}