@font-face {
  font-family: "font-1";
  src: url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
}

$font-1: "font-1", sans-serif;

$lowest: #EFF6FF;
$lower: #DBEAFE;
$low: #93C5FD;
$medium: #3B82F6;
$hight: #1D4ED8;
$highter: #1E3A8A;
$hightest: #172554;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2, p, h1, h3 {
  color: $hightest;
}


body {
  background: $lowest;
  font-family: $font-1;
  // @include verticalCenter;
}
li {
  list-style-type: none;
}
