@font-face {
  font-family: "font-1";
  src: url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

h2, p, h1, h3 {
  color: #172554;
}

body {
  background: #EFF6FF;
  font-family: "font-1", sans-serif;
}

li {
  list-style-type: none;
}

header {
  max-width: 1920px;
  background: #93C5FD;
  display: flex;
  padding: 87px 40px 60px 50px;
  justify-content: space-between;
  align-items: center;
}
header a {
  text-decoration: none;
}
header h1 {
  color: #172554;
  font-size: 60px;
  margin-right: 250px;
}
header #Ajouter-Patient {
  background: #3B82F6;
  border-radius: 8px;
  width: 200px;
  height: 50px;
  border: 2px solid #3B82F6;
  color: #EFF6FF;
}

@media (max-width: 1400px) {
  header {
    padding: 87px 32px 60px 15px;
  }
  header h1 {
    margin-right: 129px;
  }
}
@media (max-width: 1100px) {
  header h1 {
    font-size: 40px;
  }
}
@media (max-width: 700px) {
  header {
    padding: 86px 15px 60px 15px;
  }
  header h1 {
    width: 50%;
    font-size: 36px;
    margin-right: 15px;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.main-container main h2 {
  margin: 25px 15px 20px 15px;
  height: 32px;
}

.patients-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.patients-list input {
  background: #EFF6FF;
  border-radius: 8px;
  height: 25px;
}
.patients-list .card {
  background-color: #93C5FD;
  margin: 10px 15px 10px 0;
  padding: 15px 21px 15px 21px;
  border-radius: 25px;
  display: grid;
  grid-template-areas: "patient chambre" "Service button";
  grid-template-rows: repeat(2, 1fr);
  justify-items: start;
  align-items: end;
}
.patients-list .card p {
  margin: 5px 0;
}
.patients-list .card .card-patient .card-nom-prenom {
  display: flex;
  margin-bottom: 5px;
}
.patients-list .card .card-patient .card-nom-prenom h3 {
  margin-right: 5px;
}
.patients-list .card .card-service {
  margin-bottom: 23px;
}
.patients-list .card .card-button {
  display: flex;
}
.patients-list .card input {
  margin-top: 5px;
}
.patients-list .card #service {
  margin-bottom: 12px;
}
.patients-list .card #Modifier {
  background: #3B82F6;
  border-radius: 8px;
  width: 200px;
  height: 50px;
  border: 2px solid #3B82F6;
  color: #EFF6FF;
}
.patients-list .card #Valider {
  background: #3B82F6;
  border-radius: 8px;
  width: 200px;
  height: 50px;
  border: 2px solid #3B82F6;
  color: #EFF6FF;
}
.patients-list .card #Annuler {
  background: none;
  width: 60px;
  height: 50px;
  border: none;
  color: red;
}

@media (max-width: 1600px) {
  .patients-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 15px;
  }
}
@media (max-width: 1600px) and (max-width: 1100px) {
  .patients-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 15px;
  }
}
@media (max-width: 1600px) and (max-width: 700px) {
  .patients-list {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.form-ajout-patient {
  display: flex;
  flex-direction: column;
}
.form-ajout-patient input {
  padding: 10px;
  margin: 0 auto 20px 15px;
  background-color: white;
  height: 48px;
  width: 353px;
  border-radius: 8px;
  border-color: #CBD5E1;
  color: #09090B;
}

/*# sourceMappingURL=index.css.map */
